
<body>
    <br />
    <button type="button" class="bg-indigo-500 ..." disabled>
        <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
            ...
        </svg>
        Processing...
    </button>
    <div class=" bg-black container mx-auto flex flex-wrap pb-20">
        <div class="w-full md:w-1/2 lg:w-1/3 px-6 mb-12">
            <a href="#">
                <img src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673&q=80" class="w-full h-64 object-cover mb-6" />
            </a>
            <h3 class="text-2xl uppercase font-display font-extrabold tracking-widest mb-2">Blog</h3>
            <p class="text-xs text-gray-500 mb-4">Eros in cursus turpis massa tincidunt dui ut ornare. Vestibulum morbi blandit cursus risus at ultrices mi. Augue ut lectus arcu bibendum at varius.</p>
            <a href="/product" class="bg-gray-500 text-black inline-block border-2 border-black py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Learn more</a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-6 mb-12">
            <a href="#">
                <img src="https://images.unsplash.com/photo-1605902711834-8b11c3e3ef2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80" class="w-full h-64 object-cover mb-6" />
            </a>
            <h3 class="text-2xl uppercase font-display font-extrabold tracking-widest mb-2">E-Commerce</h3>
            <p class="text-xs text-gray-500 mb-4">Eros in cursus turpis massa tincidunt dui ut ornare. Vestibulum morbi blandit cursus risus at ultrices mi. Augue ut lectus arcu bibendum at varius.</p>
            <a href="/product" class="bg-gray-500 text-black inline-block border-2 border-black py-3 px-8 uppercase font-display font-thin tracking-wide text-xs hover:bg-black hover:text-indigo-600 hover:border-indigo-600">Learn more</a>
        </div>
        <div class=" w-full md:w-1/2 lg:w-1/3 px-6 mb-12">
            <a>
                <MudCard >
                    <MudCardMedia Image="img/lightningbitslogo1.png" Height="400" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">LightningBits is @Text</MudText>
                        <MudText Typo="Typo.body2">Some logo's are good some not so good.'.</MudText>
                    </MudCardContent>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@ButtonText</MudButton>
                </MudCard>
\            </a>
        </div>
    </div>
</body>

    @*<div>
        <MudCard>
            <MudCardMedia Image="img/lightningbitslogo1.png" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">LightningBits Logo</MudText>
                <MudText Typo="Typo.body2">A Logo for the ages.</MudText>
                <MudText Typo="Typo.body2">Some logo's are good some not so good.'.</MudText>
            </MudCardContent>
        </MudCard>
        <button type="button" class="bg-indigo-500 ..." disabled>
            <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
                ...
            </svg>
            Processing...
        </button>
        <MudText Typo="Typo.h6">LightningBits is @Text</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@ButtonText</MudButton>

     
    </div>*@





@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    void ButtonOnClick()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
}
