@import "../base/base.scss";
@import "../inputs/input.scss";

$css: '.e-css'!default;
$imported-modules: () !default;
.e-lib {
 @at-root {
$mask-font-family: $font-family !default;
$mask-font-size: $text-sm !default;
$mask-bigger-font-size: $text-base !default;

// color

$mask-error-color: $danger !default;

@include export-module('maskedtextbox-layout') {
  /*! maskedtextbox layout */
  .e-control-wrapper.e-mask .e-lib.e-maskedtextbox {
    @if $skin-name != 'bootstrap' {
      font-family: $mask-font-family;
      font-size: $mask-font-size;
       }
    }

  .e-bigger .e-control-wrapper.e-mask .e-lib.e-maskedtextbox {
    @if $skin-name != 'bootstrap' {
      font-size: $mask-bigger-font-size;
        }
     }

  .e-control-wrapper.e-mask.e-bigger .e-lib.e-maskedtextbox {
    @if $skin-name != 'bootstrap' {
      font-size: $mask-bigger-font-size;
        }
     }

  .e-content-placeholder.e-mask.e-placeholder-mask {
    background-size: 300px 33px;
    min-height: 33px;
  }

  .e-bigger .e-content-placeholder.e-mask.e-placeholder-mask,
  .e-bigger.e-content-placeholder.e-mask.e-placeholder-mask {
    background-size: 300px 40px;
    min-height: 40px;
  }
}


@include export-module('maskedit-theme') {
  /*! maskedtextbox theme */
  .e-control-wrapper.e-mask.e-error .e-lib.e-maskedtextbox {
    @if $skin-name != 'bootstrap' and $skin-name != 'FluentUI' {
      color: $mask-error-color;
      }
    }

  .e-utility-mask.e-error {
    @if $skin-name != 'bootstrap' and $skin-name != 'FluentUI' {
      color: $mask-error-color;
      }
    }
}


 }
 & .e-js [class^='e-'], & .e-js [class*=' e-'] {
     box-sizing: content-box;
 }
}
