@page "/ComponentPLayGround"


<div class="w-full py-24 relative">
    <div class="bg-gray-300 max-w-3xl text-center relative z-20 mx-auto py-6">
        <h3 class="text-black text-2xl mb-4">Subscribe</h3>
        <p class="text-black mb-6">Enim commodo nostrud in sunt nulla cillum tempor.</p>

        <form class="flex w-full max-w-xs mx-auto">
            <input type="" class="h-12 flex-1 py-2 px-4" placeholder="Email address" />
            <button class="h-12 w-24 bg-gray-900 text-white text-sm uppercase ml-2">Sign up</button>
        </form>
    </div>
    <img src="https://images.unsplash.com/photo-1554412664-6a4d8f640b3b?w=1800" class="absolute top-0 left-0 w-full h-full object-cover z-10" />
</div>
<body class="dark:bg-black p-4 grid grid-cols-1 md:grid-cols-5 grid-rows-2 gap-4">
    <div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between text-white">
    </div>

    <MudCard>
        <MudCardMedia Image="img/lightningbitslogo1.png" Height="400" />
        <MudCardContent>
            <MudText Typo="Typo.h5">LightningBits Logo</MudText>
            <MudText Typo="Typo.body2">A Logo for the ages.</MudText>
            <MudText Typo="Typo.body2">Some logo's are good some not so good.'.</MudText>
        </MudCardContent>
    </MudCard>
    <div>
        <MudCard>
            <MudCardMedia Image="img/lightningbitslogo1.png" Height="400" />
            <MudCardContent>
                <MudText Typo="Typo.h5">LightningBits Logo</MudText>
                <MudText Typo="Typo.body2">A Logo for the ages.</MudText>
                <MudText Typo="Typo.body2">Some logo's are good some not so good.'.</MudText>
            </MudCardContent>
        </MudCard>
        <button type="button" class="bg-indigo-500 ..." disabled>
            <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
                <!-- ... -->
            </svg>
            Processing...
        </button>
        <MudText Typo="Typo.h6">LightningBits is @Text</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@ButtonText</MudButton>
    </div>

    <MudCard>
        <MudCardMedia Image="img/lightningbitslogo1.png" Height="400" />
        <MudCardContent>
            <MudText Typo="Typo.h5">LightningBits Logo</MudText>
            <MudText Typo="Typo.body2">A Logo for the ages.</MudText>
            <MudText Typo="Typo.body2">Some logo's are good some not so good.'.</MudText>
        </MudCardContent>
    </MudCard>
</body>


@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    void ButtonOnClick()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
}
