<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">BlazorMobile</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Welcome">
                <span class="oi oi-plus" aria-hidden="true"></span> Landing Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/WelcomeHome">
                <span class="oi oi-plus" aria-hidden="true"></span> Alternate Landing Page.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductA">
                <span class="oi oi-plus" aria-hidden="true"></span> ProductA
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductB">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ProductB
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AdminLogin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blog
            </NavLink>
        </div>
    </nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}

